<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @contract.cnpj %>
</p>

<%= link_to 'Editar', edit_contract_path(@contract) %> |
<%= link_to 'Voltar', contracts_path %>
